/**
#title-page and #title-page-container are special ids

*/
body{
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    /*temporary fix: there is a bit of white space between divs for some werid reason*/
    background-color:white;
    display:block;
    margin: 0px;
    padding:0px;
}

.container-fluid{
    padding:0px;
}

#menu.menu-top {
    background-color:transparent;
    max-height:90px;
    transition: max-height 0.25s linear;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
}

#menu.menu-follow{
    background-color:white;
    box-shadow: 0px 0px 5px 1px rgb(37, 37, 37);
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    max-height:65px;
    transition: max-height 0.3s linear;
}

#menu.menu-top>.navbar-brand{
    margin-top:30px;
    margin-bottom:15px;
    transition:margin 0.25s linear;
    letter-spacing:1px; font-size:22px
}

#menu.menu-top>.navbar-collapse{
    margin-top:20px;
    transition:margin 0.25s linear;
}

#menu.menu-follow>.navbar-brand{
    margin-top:10px;
    margin-bottom:10px;
    transition:margin 0.25s linear;
}
  
/*toggle between colors*/
#menu.menu-top a{
    color:white;
}
#menu.menu-follow a{
    color:black;
}
  
/*chevron*/
.nav-link>i.fas{
    font-size:12px;
    margin-left:5px;
}
/*facebook*/
.btn>i.fab{
    font-size:30px;
}

#menu.menu-top .navbar-toggler>i{
    color:white;
}
#menu.menu-follow .navbar-toggler>i{
    color:black;
}

.text-container{
    background-color:white;
    color:black;
    margin-top:0px;
    margin-bottom:0px;
}

.text-section{
    padding-left:15vw;
    padding-right:15vw;
    padding-top:10vh;
    padding-bottom:10vh;
    text-align:left;
    display:block;
}

.plain-text{
    line-height:150%;
    font-size:18px;
    color:rgb(24, 24, 24);
}

br{
    margin-top:20px;
}

  /*for displaying menus on hover, needs to be both display block for transition
  to take place*/
@media only screen and (min-width: 991px) {
    #menu ul.navbar-nav li.dropdown:hover > .dropdown-menu {
        margin-top:-5px;
        height:fit-content;
        visibility: visible;
        opacity: 1;
    }
    #menu ul.navbar-nav li.dropdown > .dropdown-menu {
        height:0px;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s, opacity 0.25s linear;
    }
        #menu.menu-top ul.navbar-nav li.dropdown > .dropdown-menu{
            opacity: 0.5;
            color:white;
            background-color:rgb(0, 0, 0);
        }
        #menu.menu-follow ul.navbar-nav li.dropdown > .dropdown-menu{
            color:black;
        }
        #menu.menu-top ul.navbar-nav li.dropdown > .dropdown-menu > a:hover {
            background-color: grey;
            background-image: none;
        }

    .dropdown-menu>.dropdown-divider{
        margin-left:5px;
        margin-right:5px;
    }
    .container-fluid{
        font-size:22px;
    }
}

@media only screen and (max-width: 990px){
    /* TODO: some way of making the menu bigger without fucking up the look when the user clicks the 
          hamburger, since adding padding to #menu does not work rn */
    /* #menu {
        padding-top:3vh;
        padding-bottom:3vh;
    } */
    #menu #navbarSupportedContent{
        background-color:white;
        padding:15px;
    }
    #menu.menu-top #navbarSupportedContent a{
        color:black;
    }
    #menu>button.navbar-toggler{
        font-size:5vw;
    }
    .text-container{
        font-size:4vw;
    }
    .plain-text{
        font-size:4vw;
    }
    #title-page-container{
        padding-top:50%;
    }
    #title-page>h1{
        font-size:9vw;
    }
    #title-page>h3{
        font-size:5vw;
    }
}

.footer-section{
    background-color:#222;
    padding-top:5vh;
    padding-bottom:5vh;
    padding-left:10vw;
    padding-right:10vw;
    width:100%;
}
.footer-section .footer-title{
    font-size: 22px;
    color:white;
}
.footer-section .copyright{
    font-size:12px;
    color:white;
    text-align:left;
}